 *{
    box-sizing: border-box;
}
.row {
    border-style: groove;
    border-color: #FFD700;
    border: 1ex
}
.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left, .right {

  width: 25%;
  color:#FFD700;

}

.middle {
  width: 25%;
  color:#FFD700;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.body {
   background-color: black;
   text-align: center; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

